@font-face {
  font-family: "Archivo";
  src: local("Archivo"),
    url("./fonts/Archivo/Archivo-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "BreeSerif";
  src: local("BreeSerif"),
    url("./fonts/Bree_Serif/BreeSerif-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.globo {
  position: fixed;
  font-size: 12px;
  border-radius: var(--borde);
  padding: var(--borde);
  --borde: 1em;
  font-family: sans-serif;
  z-index: 1;
  background-color: white;
  filter: drop-shadow(0px 0px 1px black);
}

.globo.iv {
  width: 150px;
  bottom: 10px;
  left: 40%;
}

.globo::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: var(--colita);
  height: var(--colita);
}

.globo.izquierda-arriba::before {
  --colita: 20px;
  left: 50%;
  top : calc( var(--colita) / -1.5);
  transform: skewY(5deg) rotateZ(150deg);
  border-radius: 0 0 0 10em;
  box-shadow: 
    inset calc(var(--colita)/2) calc(var(--colita)/3) 0 0 white;
}